<h1>JavaScript Home Page</h1>
<h2>Dev Page</h2>
<p>Follow the instructions in the console tab</p>
@*<button onclick="signInRaw()" class="btn btn-outline-primary">Raw Sign In</button>*@
@*<script src="~/sign-in.js"></script>*@

<button onclick="signInLibrary()" class="btn btn-primary">Library Sign In</button>
<button onclick="callApiOne()" class="btn btn-primary">Call ApiOne</button>
<button onclick="logoutLibrary()" class="btn btn-danger">Logout</button>

<script src="~/main.js"></script>
