<h1>MVC Secret Page</h1>
<h2>You are authorized now!</h2>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Get back to Home</a>
<a asp-controller="Home" asp-action="Logout" class="btn btn-danger">Logout</a>